.center {
    display: block;
    margin: auto;
    height: 500px;
    align-content: center;
}

.column {
    width: 500px;
    display: flex;
    padding: 0px;
}

.row {
    display: flex;
    justify-content: center;
}

.sqimg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10%;
}

.imgbtn {
    width: 160px;
    height: 180px;
    border-radius: 10%;
}